{{template "header.tmpl"}}

<div class="container text-center">
    <div class="container-content">
        <h2>{{ .message }}</h2>
        <hr/>

        <a href="/" class="btn btn-primary"> Ok</a>
    </div>
</div>

{{template "footer.tmpl"}}