{{template "header.tmpl"}}

<div class="container">
    <form class="form-signin" id="formRegister">
        <h4 class="form-signin-heading">Register New Account</h4>

        <hr/>

        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputGivenName" class="sr-only">Email address</label>
            <input type="text" id="inputGivenName" class="form-control" placeholder="Given Name" required>
        </div>

        <div class="form-group">
            <label for="inputFamilyName" class="sr-only">Email address</label>
            <input type="text" id="inputFamilyName" class="form-control" placeholder="Family Name" required>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm Password" required>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Register</button>
        <hr/>
        <a href="/" class="btn btn-danger btn-block">Cancel</a>

    </form>
</div>

<script>
    $(document).ready(function() {
        $("#formRegister").submit(function(event) {
            event.preventDefault();

            if ($('#inputPasswordConfirm').val() !== $('#inputPassword').val()) {
                alert('Confirm password is not match');
                return;
            }

            /* get the action attribute from the <form action=""> element */
            var url = base_url + "api/register"

            /* Send the data using post with element id name and name2*/
            var posting = $.post(url, {
                email: $('#inputEmail').val(),
                givenName: $('#inputGivenName').val(),
                familyName: $('#inputFamilyName').val(),
                password: $('#inputPassword').val(),
            });

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({
                    email: $('#inputEmail').val(),
                    given_name: $('#inputGivenName').val(),
                    family_name: $('#inputFamilyName').val(),
                    password: $('#inputPassword').val(),
                }),
                success: function() {
                    alert('user created successfully');
                    window.location.replace(base_url + "login/");
                },
                error: (function(error) {
                    alert(error.responseText);
                }),
                dataType: "json",
                contentType: "application/json"
            });
        });
    });
</script>

{{template "footer.tmpl"}}