{{template "header.tmpl" .}}

<div class="container">
    <div class="form-signin">
        <h4 class="form-signin-heading">Reset Password</h4>

        <hr/>

        <form id="formResetPassword">
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>

            <button id="buttonSubmit" class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <h4 id="loading" class="text-center">Loading...</h4>

        </form>

        <hr/>
        <a href="{{ .baseUrl}}login" class="btn btn-default btn-block">Cancel</a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#loading").hide();

        $("#formResetPassword").submit(function(event) {
            event.preventDefault();

            var url = base_url + "api/user/resetPassword?email=" + encodeURIComponent($('#inputEmail').val())
            
            $("#buttonSubmit").hide();
            $("#loading").show();

            $.ajax({
                type: "GET",
                url: url,
                success: function() {
                    alert("An email contains link to reset your password was sent to your email, please check");
                    window.location.replace(base_url);
                },
                error: (function(error) {
                    alert(error.responseText);
                }),
                always: (function() {
                    $("#buttonSubmit").show();
                    $("#loading").hide();
                }),
                dataType: "json",
                contentType: "application/json"
            });
        });
    });
</script>

{{template "footer.tmpl"}}