<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container" style="background: rgba(255, 255, 255, .6); padding: 10px;">
        <h1>Welcome {{ .user }}.</h1>
    </div>
</body>

</html>