body {
    background: url("/img/fullscreen_bg_image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-content {
    background: rgba(255, 255, 255, .6);
    padding: 20px;
    margin-top: 20px
}